{
	"arrowParens": "always",
	"printWidth": 100,
	"endOfLine": "auto",
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"proseWrap": "preserve"
}
